@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap');

body {
    background-color: #000;
    color: #fff;
    font-family: 'Outfit', sans-serif;
    max-width: 640px;
    margin: 0 auto;
    padding: 0 25px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid rgb(19, 19, 19);
    padding: 8px;
  }
  
  th {
    background-color: #333;
    color: #fff;
  }
  
  tr:nth-child(even) {
    background-color: rgb(78, 78, 78);
  }

  tr:nth-child(odd) {
    background-color: rgb(46, 46, 46);
  }
  
  tr:hover {
    background-color: #444;
  }
  
  td {
    color: #fff;
  }
 
  

  .status-open {
    color: rgb(148, 148, 148);
  }

  .status-cancelled {
    color: red;
  }

  .status-in-progress {
    color: rgb(153, 255, 0);
  }

  .completed-task {
    text-decoration: line-through;
  }

  .status-done {
    text-decoration: line-through;
  }

  h1 {
    color: #fff;
    margin-top: 25px;
    font-size: 50px;
    margin-bottom: 0;
  }

  .tanaki {
    width: 50px;
    display: inline-block;
    float: left;
    margin-right: 25px;
  }

  .status-done del,
  .status-canceled del {
    text-decoration: line-through;
    opacity: 0.5;
  }